<section id="{{ section.level }}" class="c-section">
  <{{ section.htag }} class="c-section__title"><a href="#{{ section.level }}" class="c-section__anchor">#</a>{{ section.title }}</{{ section.htag }}>
  {{ section.description|markdown }}

  {% if section.code %}
    <div class="c-block c-block--code o-island">
      {% if section.code_render %}
        <div class="c-block--code__rendered">
          {{ section.code|raw }}
        </div>
      {% endif %}
      <div class="c-block--code__code">
        <pre class="language-{{ section.code_language }}"><code class="language-{{ section.code_language }}">{{ section.code }}</code></pre>
      </div>
    </div>
  {% endif %}

  {% if section.color %}
    <div class="c-block c-block--color">
      {% for colorset in section.color %}
        <ul class="c-block--color__set">
          {% for color in colorset %}
            <li class="c-block--color__color">
              <div class="c-block--color__preview" style="background:{{ color.value }};width:100px;height:100px;border:1px solid grey;"></div>
              {% if color.name %}
                <h5 class="c-block--color__name">{{ color.name }}</h5>
              {% endif %}
              <h6 class="c-block--color__value">{{ color.value }}</h6>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  {% endif %}

  {% if section.variable %}
    <div class="c-block c-block--variable o-island">
      {{ section.variable|markdown }}
    </div>
  {% endif %}

  {% if section.font %}
    <div class="c-block c-block--font o-island">
      <div class="c-block--font c-block--font__preview" style="font-family:{{ section.font }};">
        ABCDEFGHIJKLMNOPQRSTUVWXYZ<br />
        abcdefghijklmnopqrstuvwxyz<br />
        0123456789<br />
        !&amp;/()$=@;:,.
      </div>
    </div>
  {% endif %}

  {% if section.sub %}
    <div class="c-section c-section--sub">
      {% for section in section.sub %}
        {% include 'section.html' %}
      {% endfor %}
    </div>
  {% endif %}
</section>
