/**
 * TOC
 * 
 * @level X.X.
 */
.c-toc__list {
  list-style-type: none;
}

.c-toc__list--main {
  padding: 0;
  > .c-toc__item + .c-toc__item {
    margin-top: $spacing-xs;
  }
  > .c-toc__item > .c-toc__link {
    font-weight: $font-a-weight-bold;
    font-size: $font-size-l;
  }
}
